<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Modelo</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>{{computadora1.Modelo}}</th>
            <th>{{computadora1.Cantidad}}</th>
        </tr>
        <tr>
            <th>{{computadora2.Modelo}}</th>
            <th>{{computadora2.Cantidad}}</th>
        </tr>
        <tr>
            <th>{{computadora3.Modelo}}</th>
            <th>{{computadora3.Cantidad}}</th>
        </tr>
        <tr>
            <th>{{computadora3.Modelo}}</th>
            <th>{{computadora3.Cantidad}}</th>
        </tr>
    </tbody>
</table>

