<h1>PRODUCTOS</h1>
<div class="container">
    <table class="table table-striped text-center">
        <thead class="thead-dark">
            <tr>
                <th>Modelo</th>
                <th>Procesador</th>
                <th>Memoria RAM (GB)</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Cantidad</th>
                <th>Comprar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let computadora of computadoras" [ngClass]="{'clearance':computadora.clearance}">
                <td>{{computadora.modelo}}</td>
                <td>{{computadora.procesador}}</td>
                <td>{{computadora.memoria}}</td>
                <td>{{computadora.precio | currency}}</td>
                <td><span class="badge badge-warning" *ngIf="computadora.stock==0">Sin Stock</span></td>
                <td>
                    <app-input-numero [(quantity)]="computadora.quantity"  [max]="computadora.stock" *ngIf="computadora.stock" (maxReached)="maxReached($event)"></app-input-numero>Cantidad: {{computadora.quantity}}
                </td>
                <td>
                    <button class="btn btn-primary" (click)="agregaAlCarrito(computadora)">Comprar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
