<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Modelo</th>
            <th>Procesador</th>
            <th>Memoria RAM (GB)</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>{{computadora1.Modelo}}</th>
            <th>{{computadora1.Procesador}}</th>
            <th>{{computadora1.Memoria}}</th>
            <th>{{computadora1.Precio}}</th>
            <th>{{computadora1.Stock}}</th>
        </tr>
        <tr>
            <th>{{computadora2.Modelo}}</th>
            <th>{{computadora2.Procesador}}</th>
            <th>{{computadora2.Memoria}}</th>
            <th>{{computadora2.Precio}}</th>
            <th>{{computadora2.Stock}}</th>
        </tr>
        <tr>
            <th>{{computadora3.Modelo}}</th>
            <th>{{computadora3.Procesador}}</th>
            <th>{{computadora3.Memoria}}</th>
            <th>{{computadora3.Precio}}</th>
            <th>{{computadora3.Stock}}</th>
        </tr>
        <tr>
            <th>{{computadora4.Modelo}}</th>
            <th>{{computadora4.Procesador}}</th>
            <th>{{computadora4.Memoria}}</th>
            <th>{{computadora4.Precio}}</th>
            <th>{{computadora4.Stock}}</th>
        </tr>
    </tbody>
</table>
