<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Modelo</th>
            <th>Procesador</th>
            <th>Memoria RAM (GB)</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let computadora of computadoras" [ngClass]="{'clearance':computadora.clearance}">
            <td>{{computadora.modelo}}</td>
            <td>{{computadora.procesador}}</td>
            <td>{{computadora.memoria}}</td>
            <td>{{computadora.precio | currency}}</td>
            <td><span class="badge badge-warning" *ngIf="computadora.stock==0">Sin Stock</span></td>
        </tr>
    </tbody>
</table>
